:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: black;
  transition: all .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-decoration: inherit;
}
.sidebarlinkactive{
  color: white;
  border-bottom: 2px solid white;
}
ul li a:hover,ul li a:active,.activeLink {
  color: #02CCFE;
  border-bottom: 2px solid #02CCFE;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {

  cursor: pointer;
  transition: border-color 0.25s;
}




@tailwind base;
@tailwind components;
@tailwind utilities;
.bg {
  background-image: url("./assets/footer.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}
.list{
  list-style-type: disk;
  list-style-image: url("./assets/Vector.png");
  list-style-position: inside;
  
}
/* .aboutbg {
  background-image: url("./assets/Rectangle 30.png");
} */

.herobg {
  background-image: url("./assets/Mantle1.png");
}

/* .gamesbg {
  background-image: url("./assets/Games and sports 2.png");
}  */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbary-button {
  background: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 10px;
  background: rgb(59 130 246);
}

::-webkit-scrollbar-track {
  background: #aaa;
}